.modal__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
}


.modal-form-group__lable {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-group__field {
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: var(--transition);
}

.modal-form-group__message {
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding: 12px;
    resize: none;
    outline: 1px solid transparent;
    transition: var(--transition);
}

.modal-form-group__field:focus,
.modal-form-group__message:focus {
    border: 1px solid var(--accent);
}


.modal-form-group__wraper {
    position: relative;
    margin-bottom: 10px;
}

.modal-form-group__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    ;
    width: 18px;
    transform: translateY(-50%);
    transition: fill var(--accent);
}

.modal-form-group__field:focus+.modal-form-group__icon {
    fill: var(--accent);
}

.modal-form-group {
    margin-bottom: 20px;
}

.modal-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
}

.modal-form-agreement__link {
    color: var(--accent);
}

.modal-form-agreement-desc {
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-agreement--uncheck {
    opacity: 1;
    transition: var(--transition);
}

.modal-form-agreement--check {
    opacity: 0;
    transition: var(--transition);
}

.modal-form-agreement__checkbox:checked+.modal-form-agreement__icon .modal-form-agreement--uncheck {
    opacity: 0;
}


.modal-form-agreement__checkbox:checked+.modal-form-agreement-icon .modal-form-agreement--check {
    opacity: 1;
}

.modal-form__btm {
    display: block;
    margin: auto;
    background-color: var(--accent);
    color: #FFFFFF;
    border: none;
    padding: 10px 52px;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    align-items: center;
    display: flex;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
}